<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Tìm mặt hàng">
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-3">
                        <input type="number" class="form-control" placeholder="Số lượng">
                    </div>
                    <div class="col-md-1">
                        <i class="fas fa-laptop-code"></i>
                    </div>
                    <div class="col-md-8">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                    role="tab" aria-controls="nav-home" aria-selected="true">Hóa đơn 1</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                    role="tab" aria-controls="nav-profile" aria-selected="false">Hóa đơn 2</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                    role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 400px;">
            <div class="5">
                <i class="fas fa-table"></i>
                <i class="fas fa-table"></i>
                <i class="fas fa-filter"></i>
                <i class="fas fa-table"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h6>Giá</h6>
                <h6>Ảnh</h6>
                <h6>Tên</h6>
            </div>
            <div class="col-md-4">
                <h6>Giá</h6>
                <h6>Ảnh</h6>
                <h6>Tên</h6>
            </div>
            <div class="col-md-4">
                <h6>Giá</h6>
                <h6>Ảnh</h6>
                <h6>Tên</h6>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-4">
                <h6>Giá</h6>
                <h6>Ảnh</h6>
                <h6>Tên</h6>
            </div>
            <div class="col-md-4">
                <h6>Giá</h6>
                <h6>Ảnh</h6>
                <h6>Tên</h6>
            </div>
            <div class="col-md-4">
                <h6>Giá</h6>
                <h6>Ảnh</h6>
                <h6>Tên</h6>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-4">
                <h6>Giá</h6>
                <h6>Ảnh</h6>
                <h6>Tên</h6>
            </div>
            <div class="col-md-4">
                <h6>Giá</h6>
                <h6>Ảnh</h6>
                <h6>Tên</h6>
            </div>
            <div class="col-md-4">
                <h6>Giá</h6>
                <h6>Ảnh</h6>
                <h6>Tên</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">
                <i class="fas fa-user">Tên người đăng nhập</i>

                <div class="col-md-6">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            hg
        </div>
    </div>
</div>
</div>