<div class="row">
    <div class="col-md-2">

        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button">
                        Bảng giá
                    </button>
                </h5>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Bảng giá chung">
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Tìm kiếm
                        </button>
                    </h5>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Theo mã tên hàng">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Nhóm hàng
                        </button>
                    </h5>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm nhóm hàng">
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tất cả</li>
                    <li class="list-group-item">Điện công nghiệp</li>
                    <li class="list-group-item">Gia dụng</li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Lựa chọn hiển thị
                        </button>
                    </h5>
                </div>
                <div class="collapse show">
                    <ul class="list-group">
                        <li class="list-group-item">Hàng hóa</li>
                        <li class="list-group-item">Dịch vụ</li>
                        <li class="list-group-item">Combo + đóng gói</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-10">
                <div>
                    <h2>Bảng giá chung</h2>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" btn-toolbar mb-3">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success"><i class="fas fa-sign-out-alt"></i>Xuất file</button>
                    </div><!-- /btn-group -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="fas fa-table"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="menu-group" data-bind="foreach: [1]">
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Giá mới
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Mã hàng hóa
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Tên hàng
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Giá vốn
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Đơn giá nhập cuối ngàt
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <th>Mã hàng hóa</th>
                        <th>Tên hàng</th>
                        <th>Giá vốn</th>
                        <th>Đơn giá nhập cuối</th>
                        <th>Giá mới</th>
                    </thead>
                    <tbody data-bind="foreach: [1,2,3,4,5,6]">
                        <tr>
                            <td></td>
                            <td>Tên sản phẩm</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>