<div class="row">
    <div class="col-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nhóm nhà cung cấp</h5>
                <div class="input-group mb-1">
                    <select class="custom-select">
                        <option value="">abc</option>
                    </select>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Tìm kiếm</h5>
                <div class="input-group mb-1">
                    <input type="text" class="form-control" placeholder="Theo mã, tên hàng">
                </div>
            </div>
        </div>

        <div class="accordion">
            <div class="card">
                <div class="card-header mb-1">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Tổng mua
                        </button>
                    </h5>
                </div>
                <div class="collapse show">
                    <div class="input-group mb-1">
                        <label>Từ: </label>
                        <input type="text" class="form-control" placeholder="giá trị">
                    </div>
                    <div class="input-group mb-1">
                        <label>Tới:</label>
                        <input type="text" class="form-control" placeholder="giá trị">
                    </div>
                </div>
                <div class="input-group mb-1">
                    <select class="custom-select">
                        <option value="">abc</option>
                    </select>
                </div>
                <div class="collapse show">
                    <div class="input-group mb-1">
                        <input type="text" class="form-control" placeholder="Theo mã, tên hàng">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header mb-1">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Nợ hiện tại
                        </button>
                    </h5>
                </div>
                <div class="collapse show">
                    <div class="input-group mb-1">
                        <label>Từ: </label>
                        <input type="text" class="form-control" placeholder="giá trị">
                    </div>
                    <div class="input-group mb-1">
                        <label>Tới:</label>
                        <input type="text" class="form-control" placeholder="giá trị">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Trạng thái
                        </button>
                    </h5>
                </div>
                <div class="collapse show">
                    <ul class="list-group">
                        <li class="list-group-item">Tất cả</li>
                        <li class="list-group-item">Cá nhân</li>
                        <li class="list-group-item">Công ty</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Lựa chọn hiển thị
                        </button>
                    </h5>
                    <div class="input-group mb-1">
                        <label for="">Số bản ghi:</label>
                        <select class="custom-select">
                            <option value="">abc</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <h2>Nhà cung cấp</h2>
                </div>
            </div>
            <div class="col-md-5">
                <div class=" btn-toolbar mb-3">
                    <!-- Example single danger button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" data-bind="modal: { viewName: 'themnhacungcap', configs: { size: 'modal-lg' } }"><i
                                class="fas fa-plus"></i>Nhà cung cấp</button>
                    </div><!-- /btn-group -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" data-bind="modal: { viewName: 'importcungcap', configs: { size: 'modal-sl' } }"><i
                                class="fas fa-sign-in-alt"></i> Import</button>
                    </div><!-- /btn-group -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success"><i class="fas fa-sign-out-alt"></i>Xuất file</button>
                    </div><!-- /btn-group -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="fas fa-table"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="menu-group" data-bind="foreach: [1]">
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Mã cung cấp
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Tên nhà cung cấp
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Nhóm NCC
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Email
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Địa chỉ
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Khu vực
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Phường xã
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Công ty
                                </a>
                            </div>
                            <div class="menu-group">
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Ghi chú
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Mã số thuế
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Nợ cần trả hiện tại
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Tổng mua
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Tổng mua trừ trả hàng
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <th>Mã nhà cung cấp</th>
                    <th>Tên nhà cung cấp</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Nợ cần trả hiện tại</th>
                    <th>Tổng mua</th>
                </thead>
                <tbody data-bind="foreach: [1,2,3,4]">
                    <tr>
                        <td>KH01</td>
                        <td>Nguyễn Văn A</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>