<div class="row">
    <div class="col-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nhóm khách hàng</h5>
                <div class="input-group mb-1">
                    <select class="custom-select">
                        <option value="">abc</option>
                    </select>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Tìm kiếm</h5>
                <div class="input-group mb-1">
                    <input type="text" class="form-control" placeholder="Theo mã, tên hàng">
                </div>
                <div class="input-group mb-1">
                    <input type="text" class="form-control" placeholder="Theo mô tả đặt hàng">
                </div>
                <div class="input-group mb-1">
                    <input type="text" class="form-control" placeholder="Theo mã, tên hàng">
                </div>
            </div>

        </div>

        <div class="accordion">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Ngày tạo
                        </button>
                    </h5>
                </div>
                <div class="collapse show">
                    <div class="input-group mb-1">
                        <input type="text" class="form-control" placeholder="Theo mã, tên hàng">
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Theo mô tả đặt hàng">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Người tạo
                        </button>
                    </h5>
                </div>
                <div class="input-group">
                    <select class="custom-select">
                        <option selected>Người tạo</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Sinh nhật
                        </button>
                    </h5>
                </div>
                <div class="input-group mb-1">
                    <select class="custom-select">
                        <option selected>Người tạo</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="collapse show">
                    <div class="input-group mb-1">
                        <input type="text" class="form-control" placeholder="Theo mã, tên hàng">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Ngày giao dịch cuối
                        </button>
                    </h5>
                </div>
                <div class="input-group mb-1">
                    <select class="custom-select">
                    </select>
                </div>
                <div class="collapse show">
                    <div class="input-group mb-1">
                        <input type="text" class="form-control" placeholder="Theo mã, tên hàng">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header mb-1">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Tổng bán
                        </button>
                    </h5>
                </div>
                <div class="collapse show">
                    <div class="input-group mb-1">
                        <label>Từ: </label>
                        <input type="text" class="form-control" placeholder="giá trị">
                    </div>
                    <div class="input-group mb-1">
                        <label>Tới:</label>
                        <input type="text" class="form-control" placeholder="giá trị">
                    </div>
                </div>
                <div class="input-group mb-1">
                    <select class="custom-select">
                        <option value="">abc</option>
                    </select>
                </div>
                <div class="collapse show">
                    <div class="input-group mb-1">
                        <input type="text" class="form-control" placeholder="Theo mã, tên hàng">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header mb-1">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Nợ hiện tại
                        </button>
                    </h5>
                </div>
                <div class="collapse show">
                    <div class="input-group mb-1">
                        <label>Từ: </label>
                        <input type="text" class="form-control" placeholder="giá trị">
                    </div>
                    <div class="input-group mb-1">
                        <label>Tới:</label>
                        <input type="text" class="form-control" placeholder="giá trị">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Loại khách hàng
                        </button>
                    </h5>
                </div>
                <div class="collapse show">
                    <ul class="list-group">
                        <li class="list-group-item">Tất cả</li>
                        <li class="list-group-item">Cá nhân</li>
                        <li class="list-group-item">Công ty</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Giới tính
                        </button>
                    </h5>
                </div>
                <div class="collapse show">
                    <ul class="list-group">
                        <li class="list-group-item">Tất cả</li>
                        <li class="list-group-item">Nam</li>
                        <li class="list-group-item">Nữ</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Khu vực
                        </button>
                    </h5>
                </div>
                <div class="input-group mb-1">
                    <select class="custom-select">
                        <option value="">abc</option>
                    </select>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Trạng thái
                        </button>
                    </h5>
                </div>
                <div class="collapse show">
                    <ul class="list-group">
                        <li class="list-group-item">Tất cả</li>
                        <li class="list-group-item">Cá nhân</li>
                        <li class="list-group-item">Công ty</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button">
                            Lựa chọn hiển thị
                        </button>
                    </h5>
                    <div class="input-group mb-1">
                        <label for="">Số bản ghi:</label>
                        <select class="custom-select">
                            <option value="">abc</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <h2>Khách hàng</h2>
                </div>
            </div>
            <div class="col-md-5">
                <div class=" btn-toolbar mb-3">
                    <!-- Example single danger button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" data-bind="modal: { viewName: 'themkhachhang', configs: { size: 'modal-lg' } }"><i
                                class="fas fa-plus"></i>Khách hàng</button>
                    </div><!-- /btn-group -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" data-bind="modal: { viewName: 'importkhachhang', configs: { size: 'modal-sl' } }"><i
                                class="fas fa-sign-in-alt"></i> Import</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success"><i class="fas fa-sign-out-alt"></i>Xuất file</button>
                    </div><!-- /btn-group -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="fas fa-table"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="menu-group" data-bind="foreach: [1]">
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Mã khách hàng
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Tên khách hàng
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Loại khách
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Điện thoại
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Nhóm khách hàng
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Giới tính
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Ngày sinh
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Email
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Facebook
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Công ty
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Mã số thuế
                                </a>

                            </div>
                            <div class="menu-group">
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Địa chỉ
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Khu vực
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Phường xã
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Người tạo
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Ngày tạo
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Ghi chú
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Ngày giao dịch cuối
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Nợ hiện tại
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Tổng bán
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Tổng bán trừ trả hàng
                                </a>
                                <a class="dropdown-item">
                                    <input type="checkbox" name="" value="">Trạng thái
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <th>Mã khách hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Điện thoại</th>
                    <th>Nợ hiện tại</th>
                    <th>Tổng bán</th>
                    <th>Tổng bán trừ trả hàng</th>
                </thead>
                <tbody data-bind="foreach: [1,2,3,4]">
                    <tr>
                        <td>KH01</td>
                        <td>Nguyễn Văn A</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>