.card-body {
    padding: 0.25rem;
}

.accordion {
    margin-top: 15px;
    .card-header {
        padding: 0.01rem;
    }
    .list-group-item {
        padding: 0.25rem;
    }
}

.btn-toolbar {
    .btn-group:not(:last-child) {
        margin-right: 7px;
    }
}
.cashTop {
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
    margin-bottom: 12px;
    width: 1100px;
    height: 50px;
    
}
